.success, .error{
    color:white;
    padding:5px;
    margin:5px 0 15px 0;
}

.success{
    background:green;
}

.error{
    background:red;
}

.alert{
    background-color: red;
    color:white;
    text-align: center;
    border-radius: 3px;
}